################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

 

.vs/
/.vs/
/.vs/EventPlusAPI/v16
/.vs/EventPlusAPI/DesignTimeBuild
/.vs/
bin/
obj/
/EventPlusAPI/bin/
/EventPlusAPI/obj/
/EventPlusAPI/bin/*
/EventPlusAPI/obj/*